.dangnhap{
	width: 600px;
	height: 10px auto;

}
input[type=text],input[type=password]{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
.button{
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;	
	cursor: pointer;
	width: 100%
}
.button.hover{
}